extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each product in products
      li(id="product_#{product.id}") !{product.name}
        if user
          button(onClick = 'addItem(#{product.id})').
            Add to Cart


block javascript
    script(src="http://www.geoplugin.net/javascript.gp")
    script(src="/javascripts/suggest.js")
    script(src="/scripts/index.js")
