extends layout

block content
  h1 Hello #{user.displayName}
  img(src=user.imageUrl)
  a(href='/') Click here to go home


  h2 Cart
  ul
    each cart in carts
      li #{cart.product.name} $#{cart.product.price} x#{cart.quantity}

